{% extends 'base.html.twig' %}

{% block title %}Hello BurgerController!{% endblock %}

{% block body %}
<h3>Les burgers</h3>

    {% for burger in burgers %}

        <div class="border border-dark">
            <h3>{{ burger.name }}</h3>
            <p><strong>Price : {{ burger.price }}€</strong></p>
            <a href="{{ path('burger', {id:burger.id}) }}" class="btn btn-primary">Voir</a>
        </div>

    {%  endfor %}

{% endblock %}
