{% extends 'base.html.twig' %}

{% block title %}Hello BurgerController!{% endblock %}

{% form_theme formulaireBurger "bootstrap_5_layout.html.twig" %}

{% block body %}

    <h3>nouveau burger</h3>

    {{ form_start(formulaireBurger) }}

    {{ form_row(formulaireBurger.name) }}
    {{ form_row(formulaireBurger.price) }}
    <button type="submit" class="btn btn-success">create</button>
    {{ form_end(formulaireBurger) }}

{% endblock %}
